@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root{
    --color-background:#E3E6F3;
    --color-text:#1a1a1a; 
    --color-text-light:#fff; 
    --color-hover-links: #088178; 
    --color-hblack: #222;
    --color-border-light: #cce7d0;
    --color-fe-box: #fddde4;
    --color-product-des: #606063;
    --color-accent-span: #ef3636;
    --color-sales: #ec544e;
    --color-background-banner: #041e42;
    --color-sign-up-form-color: #818ea0;
    --color-newsletter-span: #ffbd27;
    --color-icons: #465b52;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: var(--color-hblack);
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: var(--color-hblack);
}

h4 {
  font-size: 20px;
  color: var(--color-hblack);
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: var(--color-hblack);
    background-color: var(--color-text-light);
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: .2s;
}

body {
  width: 100%;
}


button.white {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 11px 18px;
    color: var(--color-text-light);
    background-color: transparent;
    cursor: pointer;
    border: 1px solid var(--color-text-light);
    transition: 0.2s;
}

/* Header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: var(--color-background);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: var(--color-text);
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active {
    color: var(--color-hover-links);
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: var(--color-hover-links);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#mobile{
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#hero {
    background-image: url("img/hero4.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1 {
   color: var(--color-hover-links);
}

#hero button {
    background-image: url("img/button.png");
    background-color: transparent;
    color: var(--color-hover-links);
    border: 0;
    padding: 14px 80px 18px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 1px solid var(--color-border-light);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box h6 {
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 4px;
    color: var(--color-hover-links);
    background-color: var(--color-fe-box);
}

#feature .fe-box:nth-child(2)  h6 {
    background-color:#cdebbc;
}

#feature .fe-box:nth-child(3)  h6 {
    background-color:#d1e8f2;
}

#feature .fe-box:nth-child(4)  h6 {
    background-color:#cdd4f8;
}

#feature .fe-box:nth-child(5)  h6 {
    background-color:#f6dbf6;
}

#feature .fe-box:nth-child(6)  h6 {
    background-color:#fff2e5;
}

.product1 {
    text-align: center;
}

.product1 .pro-container {
    display: flex;
    justify-content: start;
    padding: 20px 12px;
    flex-wrap: wrap;
    gap: 12px;
}

.product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transform: 0.2s ease;
    position: relative;
}

.product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.product1 .pro img {
    max-width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
}

.product1 .pro-container[attribute="api"] .pro img{
    max-width: 68.5% !important;
}


.product1 .pro .des {
    text-align: start;
    padding: 10px;
}

.product1 .pro .des span {
    color: var(--color-product-des);
    font-size: 12px;
}

.product1 .pro .des h5 {
    padding-top: 7px;
    color: var(--color-text);
    font-size: 14px;
}

.product1 .pro .des i {
    font-size: 12px;
    color: rgb(243, 181, 25);
}

.product1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: var(--color-hover-links);
}

.product1 .pro .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f7ea;
    color: var(--color-hover-links);
    border: 1px solid var(--color-border-light);
    position: absolute;
    bottom: 20px;
    right: 10px;
}




#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("img/banner/b2.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h4 {
    color: var(--color-text-light); 
    font-size: 16px;
}

#banner h2 {
    color: var(--color-text-light); 
    font-size: 30px;
    padding-block: 10px;
}

#banner h2 span {
    color: var(--color-accent-span); 
    font-size: 30px;
    padding-block: 10px;
}

#banner button:hover {
    background-color: var(--color-hover-links);
    color: var(--color-text-light);
}

/* 1.06 */



.banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    min-width: 1060px;
    height: 80vh;
    padding: 60px;
  
}

.banner-box:hover button{
    background-color: #088178;
    border: 1px solid #088178;
}

.banner-box h4 {
    color: var(--color-text-light);
    font-size: 20px;
    font-weight: 300;
}


.banner-box h2 {
    color: var(--color-text-light);
    font-size: 28px;
    font-weight: 800;
}

.banner-box span {
    color: var(--color-text-light);
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}

/* Slider */

#slider-section {
    width: 100%px;
    margin: 0 auto;
}


/* Slider Js styling */
.slider__wrapper {
    min-width: 100%px;
    height: 80vh;
    overflow: hidden;
    border-radius: 10px;
    position: relative;

}

#slider {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.25s;
    margin: 0;
 
}

#slider-section #slider .slide {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-width: 100%;
    height: 80vh;
    background-size: cover; 
    background-position: center;
  



}


.slide {
    min-width: 25% !important;
}


.slide .banner-box .sales {
    color: var(--color-sales);
    font-weight: 800;
    font-size: 2rem;
}

.slide .banner-box h2{
font-size: 2.5rem;
}

.slide .banner-box h4{
    font-size: 2rem;
}

.slide .banner-box span{
    font-size: 1.2rem;
    }

/* arrows */

#arrow-left img,
#arrow-right img{
    height: 25px;

}

#arrow-left {
    position: absolute;
    left: 20px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

}
#arrow-right {
    position: absolute;
    right: 20px;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);

}


/* dark-light-mode */

#dark-light-modes-switcher {
    font-size: 20px;
    background-color: var(--color-background);
    border: 0;
    transition: 0.4s;
}

#dark-light-modes-switcher:hover {
    transform: scale(1.1);
}

/* dots styling */

.slider__dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;

    gap: 5px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
}

.active-dot {
    background-color: #333;
}

/* sing up form  */

#newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-image: url("/img/banner/b14.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: var(--color-background-banner);
}


#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: var(--color-text-light);
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: var(--color-sign-up-form-color);
}

#newsletter span {
    color: var(--color-newsletter-span);
}

#newsletter .form {
    display: flex;
    width: 40%;
}

#newsletter input {
    height: 3.125rem;
    padding: 0 1.25rem;
    font-size: 14px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: var(--color-hover-links);
    color: var(--color-text-light);
    white-space: nowrap;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;  
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 20px;
}

footer p {
    font-size: 13px;
    padding-bottom: 0 0 8px 0;
}

footer a {
    font-size: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    color: var(--color-hblack);
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: var(--color-icons);
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 1px solid var(--color-hover-links);
    border-radius: 6px;
}

footer .install img {
    margin: 10px 0 15px 0;
}

footer .follow i:hover,
footer a:hover{
    color: var(--color-hover-links);
}

footer .copyright {
    width: 100%;
    text-align: center;
}

/* Media Query */

@media (max-width: 799px) {

    .section-p1 {
        padding: 40px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--color-background);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 80px 0 0 10px;
        transition: .3s;
    }

    #navbar.active {
        right: 0;
    }

    #navbar li{
        margin-bottom: 25px;
    }

    #mobile{
        display: flex;
        align-items: center;
    }
    
    #mobile i{
        color: var(--color-text);
        font-size: 24px;
        padding-left: 20px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        font-size: 24px;
    }

    #lg-bag {
        display: none;
    }


    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #feature {
        justify-content: center;
        gap: 15px;

    }

    .product1 .pro-container {
        justify-content: center;
        gap: 15px;
    }

    #banner {
        height: 20vh;
    }

    #newsletter .form {
        width: 70%;
    }

    .slide .banner-box h2 {
        font-size: 2rem;
    }

    #slider-section #slider .slide {
        background-position: 800px !important;
    }
}


@media (max-width: 477px) {
    #header {
      padding: 10px 30px;
    }

    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    h2 {
        font-size: 32px;
    }

    h1 {
        font-size: 38px;
    }

    .section-p1 {
        padding: 20px;
    }

    #feature {
        justify-content: space-between;
    }

    #feature .fe-box {
        width: 155px;
        margin: 0 0 15px 0;
    }

    .product1 .pro {
        width: 100%;
    }

    .product1 .pro-container {
        margin-inline: 20px;
    }

    #banner {
        height: 40vh;
    }

    .slide .banner-box h4 {
        font-size: 1rem;
    }

    .slide .banner-box h2 {
        font-size: 1.5rem;
    }

    .slide .banner-box span {
        font-size: .9rem;
    }

    .banner-box {
        height: 40vh;
        padding: 10px;
    }

    .slide .banner-box h2 {
        font-size: 1rem;
    }

    .slide .banner-box .sales {
        font-size: 1.3rem;
    }

    #arrow-left {
        top: 70%;
    }
    
    #arrow-right {
        top: 70%;
    }

    .dot {
        width: 7px;
        height: 7px;
    }

    button.white {
        font-size: 0.65rem;
        padding: 8px 15px;
    }

    #slider-section #slider .slide {
        background-position: -500px !important;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    footer .copyright {
        text-align: start;
    }

}